<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
              <li><a class="navbar-brand" href="{%url "index" %}">Home</a></li>
              <li><a class="navbar-link" href="{% url "admin:index" %}">Admin</a></li>
              {% if user.is_authenticated %}
                <li><a class="navbar-link" href="{% url "logout" %}">Logout</a></li>
                {% if user.scientist.is_scientist %}
                <li> <a class="nav-item nav-link" href="{% url "webapp:profile" %}">Profile</a></li>
                {% endif %}
              {% else %}
              <li><a class="navbar-link" href="{% url "user_login" %}">Login</a></li>
              <li><a class="navbar-link" href="{% url "webapp:register" %}">Register</a></li>
            
              {% endif %}

          </ul>
    </nav>


    {% block body_block%}
    {% endblock %}

        
</body>
</html>