{% extends "webapp/base.html" %}
{% block body_block%}

<div class="jumbotron">
    <h1>Please Login</h1>

    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}

        </div>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <small class="text-muted ml-2">
                <a href="{% url "password_reset" %}">Forgot Password?</a>
            </small>
        </div>
        <input type="submit" value="Login">
    </form>


</div>

{% endblock %}