{% extends "webapp/base.html" %}
{% block body_block %}

<style>
    body {
        font-family: Montserrat, sans-serif;

    }

    .btn-lg {
        padding: 10px 16px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 30px;
    }

    label {
        color: #343a40;
    }

    .card-header {
        background-color: #343a40;
        text-align: center;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343A40;
        border-color: #343A40;
    }

    .form-group {
        font-size: 16px;
    }

</style>

<br>
<br>
<br>
<div class="d-flex p-4 justify-content-center">
    <div class="card-deck" style="width: auto;">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reset Password</h4>
            </div>
            <div class=card-body>
                <fieldset class="form-group text-right">
                    Password reset! Log In Now.
                </fieldset>
                <a href="{% url 'user_login' %}" class="btn btn-lg btn-block btn-secondary">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}