{% extends "webapp/base.html" %}
{% block body_block %}

<style>
    body {
        font-family: Montserrat, sans-serif;

    }

    .btn-lg {
        padding: 10px 16px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343A40;
        border-color: #343A40;
    }
</style>

<br>
<br>
<br>
<div class="d-flex p-4 justify-content-center">
    <div class="card-deck" style="width: auto;">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Reset Password</h4>
            </div>
            <div class=card-body>
                <div class="alert alert-success p-4">
                    Password reset! Faça o login.
                </div>
                <a href="{% url 'user_login' %}" class="btn btn-lg btn-block btn-secondary">Log In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}