{% extends "webapp/base.html" %}
{% block body_block %}

<style>
  body {
    color: #343a40;
    background-color: #f1f1f1;
    text-align: right;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
  }

  h2 {
    color: #000000;
    text-align: left;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h3 {
    text-align: center;
  }

  .jumbotron {
    background-color: #ffffff;
    color: #000000;
    font-size: 15px !important;
    padding: 100px 30px;
    font-family: Montserrat, sans-serif;
  }

  .a {
    background-color: #343a40;
  }

  .form-control {
    letter-spacing: 4px;
    font-size: 15px !important;
    font-family: Montserrat, sans-serif;
  }

  .btn-lg {
    padding: 10px 16px;
    letter-spacing: 4px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .btn-secondary {
    color: #fff;
    background-color: #343A40;
    border-color: #343A40;
  }

  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
  }

  img {
    max-width: 200px;
    max-height: 200px;
  }

  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: left;
  }
</style>


<div class="jumbotron">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h2>Your Profile</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% for message in messages %}
            <div class="alert alert-success">
              <a class="close" href="#" data-dismiss="alert">×</a>
              {{ message }}
            </div>
            {% endfor %}
            <div class="form-group row">
              <label for="id_username" class="col-4 col-form-label">Username: </label>
              <div class="col-5 text-left border-bottom">
                {{user.username}}
              </div>
            </div>
            {% if request.user.scientist.profile_pic %}
            <div class="form-group row">
              <label for="id_image" class="col-4 col-form-label">Profile Picture: </label>
              <div class="col-5 text-left border-bottom">
                <img class="rounded" src="{{request.user.scientist.profile_pic.url}}" alt="Profile Pic" class="profile-photo" />
              </div>
            </div>
            {% endif %}
            <div class="form-group row">
              <label for="id_first_name" class="col-4 col-form-label">First Name: </label>
              <div class="col-5 text-left border-bottom">
                {{request.user.scientist.first_name}}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_last_name" class="col-4 col-form-label">Last Name: </label>
              <div class="col-5 text-left border-bottom">
                {{request.user.scientist.last_name}}
              </div>
            </div>
            <div class="form-group row">
              <label for="id_email" class="col-4 col-form-label">Email: </label>
              <div class="col-5 text-left border-bottom">
                {{user.email}}
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-4 col-form-label">Address: </label>
              <div class="col-5 text-left border-bottom">
                {{request.user.scientist.address}}
              </div>
            </div>
            <div class="form-group row">
              <label for="work_local" class="col-4 col-form-label">Work Place:</label>
              <div class="col-5 text-left border-bottom">
                {{request.user.scientist.work_local}}
              </div>
            </div>
            <div class="form-group row">
              <label for="bi" class="col-4 col-form-label">BI: </label>
              <div class="col-5 text-left border-bottom">
                {{request.user.scientist.bi}}
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-8 col-4">
                <button class="btn btn-lg btn-block btn-secondary" type="button" data-toggle="collapse"
                  data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Update Profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseExample">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h2>Update Your Profile</h2>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                  <label for="id_first_name" class="col-4 col-form-label">First Name: </label>
                  <div class="col-4 text-left">
                    {{ s_form.first_name }}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_last_name" class="col-4 col-form-label">Last Name: </label>
                  <div class="col-4 text-left">
                    {{ s_form.last_name }}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_email" class="col-4 col-form-label">Email: </label>
                  <div class="col-4 text-left">
                    {{u_form.email}}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_email" class="col-4 col-form-label">Address: </label>
                  <div class="col-4 text-left">
                    {{s_form.address}}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_email" class="col-4 col-form-label">Work Place: </label>
                  <div class="col-4 text-left">
                    {{s_form.work_local}}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_email" class="col-4 col-form-label">BI: </label>
                  <div class="col-4 text-left">
                    {{s_form.bi}}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_password" class="col-4 col-form-label">New Password: </label>
                  <div class="col-4 text-left">
                    {{u_form.password}}
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_photo" class="col-4 col-form-label">Profile Picture: </label>
                  <div class="col-4 text-left">
                    {{s_form.profile_pic}}
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-8 col-4">
                    <button name="submit" type="submit" class="btn btn-lg btn-secondary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}