{% extends 'webapp/base.html' %}
{% block body_block %}

<style>
    body {
        color: #343a40;
        background-color: #f1f1f1;
        text-align: right;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;

    }

    h2 {
        color: #000000;
        text-align: left;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h3 {
        text-align: center;
    }

    .jumbotron {
        background-color: #ffffff;
        color: #000000;
        font-size: 15px !important;
        padding: 100px 30px;
        font-family: Montserrat, sans-serif;
    }

    .a {
        background-color: #343a40;
    }

    .btn-lg {
        padding: 10px 16px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

    .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .col-4 {
        padding-top: 5px;
    }

    .alert {
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        text-align: left;
        margin: 0px 0px 20px 0px margin-left: 50%;
        ;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #000;
        text-align: inherit;
        white-space: nowrap;
        background-color: #fff;
        border: 0;
    }

    input {
        line-height: normal;
        height:40px;
        width:162px;
    }

    select {
        line-height: normal;
        height:40px;
        width:162px;
    }

    textarea {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        height:148px;
        width:400px;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textarea;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        flex-direction: column;
        resize: both;
        cursor: text;
        white-space: pre-wrap;
        overflow:auto;
        overflow-wrap: break-word;
        margin: 0em;
        font: 400 13.3333px Arial;
        border-width: 1px;
        border-style: solid;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
        border-image: initial;
        padding: 2px;
    }
</style>

<div class="jumbotron">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 border-bottom">
                        {% if not form.instance.pk %}
                        <h2>Create Project</h2>
                        {% else %}
                        <h2>Update Project</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                        <div class="alert alert-success text-left">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                        {% endfor %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="id_name" class="col-4 col-form-label">Name: </label>
                                <div class="col-4 text-left">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_description" class="col-4 col-form-label">Description: </label>
                                <div class="col-4 text-left">
                                    {{form.description}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_sensorsChoice" class="col-4 col-form-label">Sensors Used: </label>
                                <div class="col-4 text-left">
                                    {{form.sensorsChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_periodChoice" class="col-4 col-form-label">Amount of Times Program will
                                    run: </label>
                                <div class="col-4 text-left">
                                    {{form.periodChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_spacetimeChoice" class="col-4 col-form-label">Period of time between Data
                                    Analysis: </label>
                                <div class="col-4 text-left">
                                    {{form.spacetimeChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                              <div class="offset-8 col-4">
                                <input type="submit" class="btn btn-lg btn-secondary" value="Submit">
                              </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_block %}