{% extends "webapp/base.html" %}
{% block body_block %}

<style>
    body{
        font-family: Montserrat, sans-serif;

    }
</style>

<div class="jumbotron">
    
    {% if in_project %}

    <h1>Thank you for registering</h1>

    {% else %}
    <h1>Register Here</h1>
    <h3>Fill out the form:</h3>

    <form enctype="multipart/form-data" method="POST">

        {% csrf_token %}

        <h1>You really want to be part of this project?</h1>

        <input type="submit" name="" value="Yes">
        <a href="{% url 'index' %}"><input type="button" value="No"></a>


    </form>
</div>
    {% endif %}
    {% endblock %}
