{% extends "webapp/base.html" %}
{% block body_block %}



<style>
    body {
        color: rgb(0, 0, 0);
        background-color: #f1f1f1;
        text-align: center;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
    }

    h4 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 15px;
        line-height: 1.375em;
        color: #000000;
        margin: 20px 20px 20px 20px;
    }

    label {
        color: #343a40;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

    .card {
        width: 30rem;
    }

    .card-header {
        background-color: #343a40;
    }
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="d-flex p-4 justify-content-center">
    <div class="card-deck ">
        <div class="card mb-4 shadow-sm">
            <div class="card-header text-center">
                {% if in_project %}
                <h4>Thank you for being a part of this project</h4>
                <a href="{% url 'webapp:donator_list' %}" class="btn btn-lg btn-light" type="button">Back to List</a>
                {% else %}
                <h4>Know More Here</h4>
            </div> 
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <h5>To know more about the project you must join. Confirm registry?</h5>
                    <input type="submit" class="btn btn-lg btn-secondary" name="" value="Yes">
                    <a href="{% url 'webapp:donator_list' %}" class="btn btn-lg btn-danger" type="button">No</a>
                </form>
            </div>
        </div>
    </div>
</div>




{% endif %}
{% endblock %}
