{% extends "webapp/base.html" %}
{% block body_block %}



<style>
    body {
        color: rgb(0, 0, 0);
        background-color: #f1f1f1;
        text-align: center;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
    }

    h4 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 30px;
    }

    h5 {
        font-size: 15px;
        line-height: 1.375em;
        color: #000000;
        margin: 20px 20px 20px 20px;
    }

    label {
        color: #343a40;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

    .card-body {
        width: 500px;
    }

    .card-header {
        background-color: #343a40;
    }

    textarea {
        height:148px;
        width:400px;        
    }

</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="d-flex p-4 justify-content-center">
    <div class="card-deck ">
        <div class="card mb-4 shadow-sm">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-normal">{{project_name}}</h4>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST">
                    <div>
                        {% csrf_token %}
                        <h5>If you want to conclude this project, send a message to all the people that took part in it!</h5>
                        {{send_us_email.message}}</div>
                    <div>
                        <input href="{% url "webapp:finish" pk=project_id %}" class="btn btn-lg btn-danger"
                            type="submit" value="Finish Project">
                        <a href="{% url "webapp:list" %}" class="btn btn-lg btn-danger" type="button">Cancel</a></div>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}