{% extends 'webapp/base.html' %}
{% block body_block %}

<style>
    body {
        color: #343a40;
        background-color: #f1f1f1;
        text-align: right;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;

    }

    h2 {
        color: #000000;
        text-align: left;
        font-weight: bolder;
    }

    h3 {
        text-align: center;
    }

    .jumbotron {
        background-color: #ffffff;
        color: #000000;
        font-size: 15px !important;        
        padding: 100px 30px;
        font-family: Montserrat, sans-serif;
    }

    .a {
        background-color: #343a40;
    }

    .btn-lg {
        padding: 10px 16px;
        letter-spacing: 4px;
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        line-height: 1.3333333;
        border-radius: 6px;
    }

    .btn-secondary {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

    .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .alert {
        padding: 15px;
        margin-left: 50%;
        border: 1px solid transparent;
        border-radius: 4px;
    }

</style>


<div class="jumbotron">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Project {{project.name}} </h2>
                        <hr>
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="id_name" class="col-4 col-form-label">Name: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{ project.name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_description" class="col-4 col-form-label">Description: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{project.description}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_sensorsChoice" class="col-4 col-form-label">Sensors Used: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{project.sensorsChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_periodChoice" class="col-4 col-form-label">Amount of Times Program will run: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{project.periodChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_spacetimeChoice" class="col-4 col-form-label">Period of time between Data Analysis: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{project.spacetimeChoice}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_spacetimeChoice" class="col-4 col-form-label">Number of Donators: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{number_of_donators}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_spacetimeChoice" class="col-4 col-form-label">Number of Data collected: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{number_of_data}}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="id_spacetimeChoice" class="col-4 col-form-label">Creation Date: </label>
                                <div class="col-8 text-left border-bottom">
                                    {{created_date}}
                                </div>
                            </div>                      
                        </form>
                        {% if project.finished %}
                        <br>
                        <br>
                        <br>
                        <h3>Este projeto encontra-se finalizado!</h3>

                        {% else %}

                        {% if project.scientist.user.id == request.user.id %}
                        <div class="container offset-4 col-2">
                            <a class="btn btn-lg btn-secondary"
                                href="{% url 'webapp:update' pk=project.pk  %}">Update</a>
                            <a class="btn btn-lg btn-secondary"
                                href="{% url 'webapp:delete' pk=project.pk  %}">Delete</a>
                            <a class="btn btn-lg btn-secondary" href="{% url 'webapp:finish' pk=project.pk  %}">Finish
                                Project</a>
                            <a class="btn btn-lg btn-secondary" href="{% url 'webapp:export_data' pk=project.pk  %}">Download Data</a>
                            {% endif %}
                            {% endif %}
                            {% if user.donator.is_donator %}
                            <a class="btn btn-lg btn-secondary" href="{% url 'webapp:datagivedelete' pk=project.pk %}">Leave the
                                Project</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body_block %}